* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
}

/* Top Bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Button */
.categories-wrapper {
  position: relative;
  width: fit-content;
  margin: 0px;
  padding: 4px 42rem 0 0;
}

.categories-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0b5c66;
  cursor: pointer;
  font-size: 15px;
}

/* Dropdown Box */
.categories-dropdown {
  position: absolute;
  z-index: 9999;
  top: 35px;
  left: 0;
  background: #fff;
  width: 280px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: none;
  padding: 10px 0;
}

/* Show on hover */
.categories-wrapper:hover .categories-dropdown {
  display: block;
}

/* List Styling */
.categories-dropdown ul {
  list-style: none;
}

.categories-dropdown li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  cursor: pointer;
  color: #1d2b36;
  font-size: 14px;
}

.categories-dropdown li:hover {
  background: #f2f6f8;
}

.categories-dropdown li span {
  flex: 1;
  margin-left: 12px;
  font-weight: 500;
}

.categories-dropdown i {
  color: #1d2b36;
}

.arrow {
  color: #999;
  font-size: 13px;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.top-right i {
  font-size: 18px;
  cursor: pointer;
}

.login-btn {
  padding: 6px 14px;
  border: 1px solid #0b5c66;
  background: transparent;
  color: #0b5c66;
  border-radius: 4px;
  cursor: pointer;
}

.signup-btn {
  padding: 6px 14px;
  border: none;
  background: #0b5c66;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

/* Navigation Bar */
.nav-bar {
  background: linear-gradient(to right, #0b5c66, #1fc8c8);
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 20px 0;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}

.nav-bar a:hover {
  text-decoration: underline;
}
img {
  width: 100%;
  margin: -2px;
}
.slider {
  width: 100%;
  max-width: 1235px;
  height: 422px;
  margin: auto;
  overflow: hidden;
  position: relative;
  padding-top: 25px;
}

.slides {
  display: flex;
  width: 1220px;
  animation: slide 20s infinite;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* full photo without cutting */
  background: #000;
}

/* Animation */
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(0%);
  }

  38% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-100%);
  }

  71% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
/* Navigation Bar */

/* notes */
.notes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #0b5c66, #25d6d6);
  padding: 20px 40px;
  color: #fff;
}

.notes a {
  display: flex;
  align-items: center;
  gap: 35px;
  color: #fff;
  text-decoration: none;
  width: 25%;
}

.notes i {
  font-size: 57px;
}

.notes div {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 20px;
}

.notes div em {
  font-style: normal;
  font-size: 16px;
  opacity: 0.9;
}
/* notes */

/* Course */
.course-section {
  padding: 8px 0px 43px 34px;
  /* background: #00000029; */
}
.course-section h2 {
  color: black;
  margin-bottom: 20px;
  padding: 40px 41px 0px 40px;
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 2px;
}
.courses {
  display: flex;
  justify-content: space-around;
  padding: auto;
}

.course-card {
  width: 320px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 0px rgba(0, 0, 0, 0.4);
}

.img-box {
  position: relative;
  height: 180px;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ffc107;
  color: #000;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.checked {
  color: orange;
}
.offer {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background: #fff;
  color: #ff3b3b;
  padding: 2px 9px;
  border-radius: 6%;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.course-body {
  padding: 15px;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-row h3 {
  font-size: 15px;
  font-weight: 600;
  width: 75%;
}

.tutor-pic {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  object-fit: cover;
}

.by {
  font-size: 13px;
  margin: 6px 0;
}

.by span {
  color: #0aa;
  font-weight: 600;
}

.rating {
  font-size: 13px;
  color: #666;
}

hr {
  margin: 12px 0;
  border: 0;
  border-top: 1px solid #ddd;
}

.price {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.new-price {
  font-size: 18px;
  font-weight: bold;
}

.old-price {
  font-size: 14px;
  color: #888;
  text-decoration: line-through;
}

/* Course */
