* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Segoe UI", sans-serif; */
  font-family: "Figtree", sans-serif;
  /* font-family: Arial, sans-serif; */
  /* padding-bottom: 20px; */
  align-items: center;
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

header {
  width: 100%;
}
/* <!-- Trade Like a Pro Section -->  */
.tlp-section {
  background: #ffe1cc;
  padding: 60px 0;
  font-family: "Open Sans", sans-serif;
}

.tlp-container {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 40px;
}

.tlp-left {
  flex: 2;
}

.tlp-right {
  flex: 1;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tlp-tag {
  color: #060659;
  font-style: italic;
  display: block;
  margin-bottom: 15px;
}

.tlp-badge {
  background: #fff;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
}

.tlp-title {
  font-size: 50px;
  margin: 10px 0;
}

.tlp-title span {
  color: #0069ff;
}

.tlp-subtext {
  margin: 15px 0;
  color: #333;
}

.tlp-buttons {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.btn-orange {
  background: #0069ff;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.tlp-stats {
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 36px 10px 47px;
  border-radius: 10px;
  margin: 25px 150px 3px 0px;
}

.stat-box {
  text-align: center;
}

.tlp-heading {
  margin-top: 25px;
}

.tlp-highlight {
  color: #050548;
  font-weight: bold;
}

.tlp-image {
  width: 100%;
  border-radius: 8px;
}

.btn-enroll {
  background: #0069ff;
  color: #fff;
  border: none;
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 6px;
}

.btn-enquire {
  background: transparent;
  color: #0069ff;
  border: 2px solid #0069ff;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 6px;
}

.tlp-free {
  font-size: 12px;
  margin: 10px 0;
  color: #777;
}

.tlp-includes {
  text-align: left;
  margin-top: 20px;
}

.tlp-includes ul {
  padding-left: 20px;
}

.tlp-rates {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.rate-box {
  width: 48%;
  background: #f6f6f6;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}
/* <!-- Trade Like a Pro Section -->  */

/* <!-- Course Journey Section -->  */
.cj-section {
  padding: 80px 0;
  background: #fff;
  font-family: "Segoe UI", sans-serif;
}

.cj-container {
  width: 85%;
  margin: auto;
}

.cj-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #000;
  font-family: "Figtree", sans-serif;
  padding: 22px;
  font-weight: bold;
  color: #050548;
  font-size: 40px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

/* Timeline */
.cj-timeline {
  position: relative;
  padding-left: 50px;
}

.cj-timeline::before {
  content: "";
  position: absolute;
  left: 18px;
  top: 0;
  width: 1.5px;
  height: 100%;
  background: #ff6a00;
}

/* Each item */
.cj-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}

/* Orange dot */
.cj-dot {
  width: 16px;
  height: 14px;
  background: #ff6a00;
  border-radius: 50%;
  position: absolute;
  left: -39px;
  top: -3px;
  box-shadow: 0 0 0 5px rgba(255, 106, 0, 0.25);
}
.cj-timeline::after {
  content: "";
  position: absolute;
  left: 11px;
  bottom: -8px;
  width: 16px;
  height: 14px;
  background: #ff6a00;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgb(255 106 0 / 43%);
}

/* Content */
.cj-content {
  margin-left: 40px;
}

.cj-content h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000;
}

.cj-content ul {
  padding-left: 20px;
}

.cj-content ul li {
  font-size: 15px;
  line-height: 1.8;
  color: #333;
}

/* Responsive */
@media (max-width: 768px) {
  .cj-container {
    width: 92%;
  }

  .cj-content h3 {
    font-size: 18px;
  }

  .cj-content ul li {
    font-size: 14px;
  }
}
/* <!-- Course Journey Section -->  */
/* <!-- Certification Section -->  */
.cert-section {
  padding: 100px 54px;
  background: #ffffff;
  font-family: "Segoe UI", sans-serif;
}

.cert-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

/* Left */
.cert-left {
  width: 50%;
}

.cert-tag {
  color: #0069ff;
  font-style: italic;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 15px;
}

.cert-left h2 {
  font-size: 36px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
  line-height: 1.3;
}

.cert-left p {
  font-size: 16px;
  color: #666;
  line-height: 1.8;
  margin-bottom: 15px;
  max-width: 520px;
}

.cert-bold {
  font-weight: 600;
  color: #000;
}

/* Right */
.cert-right {
  width: 50%;
  text-align: right;
}

.cert-right img {
  width: 85%;
  max-width: 520px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

/* Responsive */
@media (max-width: 900px) {
  .cert-container {
    flex-direction: column;
    text-align: center;
  }

  .cert-left,
  .cert-right {
    width: 100%;
  }

  .cert-right {
    text-align: center;
    margin-top: 40px;
  }
}
/* <!-- Certification Section -->  */

/* <!-- Mobile App Promo Section --> */
.app-section {
  padding: 50px 0;
  /* background: #000; */
  font-family: "Roboto", sans-serif;
}

.app-container {
  width: 90%;
  margin: auto;
  background: radial-gradient(circle at left, #2a2a2a, #000);
  border-radius: 25px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

/* Left */
.app-left {
  width: 50%;
}

.app-left h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.app-left p {
  font-size: 15px;
  line-height: 1.8;
  color: #ccc;
  margin-bottom: 15px;
  font-family: "Comic Relief", system-ui;
}

.app-left span {
  color: #0069ff;
  font-weight: 600;
}

.app-left strong {
  color: #fff;
}

.app-tagline {
  margin-top: 20px;
  font-weight: 600;
  color: #fff;
}

/* Right */
.app-right {
  width: 45%;
  text-align: center;
  position: relative;
}

.phones {
  position: relative;
  height: 420px;
}

.phone {
  /* width: 220px; */
  position: absolute;
  top: 0;
}

.phone-one {
  left: 40px;
  transform: rotate(-5deg);
}

.phone-two {
  right: 40px;
  top: 40px;
  transform: rotate(6deg);
}

.store-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.store-buttons img {
  height: 45px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 900px) {
  .app-container {
    flex-direction: column;
    text-align: center;
  }

  .app-left,
  .app-right {
    width: 100%;
  }

  .phones {
    margin-top: 40px;
  }
}
/* <!-- Mobile App Promo Section -->  */
